workflows/Notion task list test.json
{
  "id": 2,
  "name": "Notion task list test",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -540,
        200
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0/2 * * * *"
            }
          ]
        },
        "event": "pageAddedToDatabase",
        "databaseId": "d389c92e-f2c7-41c9-be81-13ecb792dec3"
      },
      "name": "page added",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        360
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion iwsat6707@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json[\"id\"] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Приоритет|select",
              "selectValue": "!!"
            }
          ]
        }
      },
      "name": "Notion2",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        0,
        340
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion iwsat6707@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{$json.hasOwnProperty('Приоритет')}}",
        "rules": {
          "rules": [
            {}
          ]
        }
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -320,
        360
      ]
    }
  ],
  "connections": {
    "page added": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Notion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-07-27T13:14:06.534Z",
  "updatedAt": "2022-07-31T21:21:48.560Z",
  "settings": {},
  "staticData": {
    "node:page added": {
      "lastTimeChecked": "2022-07-31T09:45:03Z",
      "lastRecordProccesed": "0fdcfa1e-2c26-47a3-aa0e-5260bea7e869"
    }
  },
  "pinData": {
    "page added": [
      {
        "id": "c5d78f20-0c58-4286-9e56-33b07d80b3f4",
        "Дата создания": "2022-07-27T19:31:00.000Z",
        "Дней осталось": null,
        "Срочное": false,
        "Статус": "Готово!",
        "Важное": false,
        "Name": ""
      }
    ]
  },
  "tags": [
    {
      "id": "3",
      "name": "test",
      "createdAt": "2022-07-27T19:25:59.912Z",
      "updatedAt": "2022-07-27T19:25:59.912Z"
    },
    {
      "id": "2",
      "name": "task list",
      "createdAt": "2022-07-27T07:51:35.027Z",
      "updatedAt": "2022-07-27T07:51:35.027Z"
    },
    {
      "id": "1",
      "name": "notion",
      "createdAt": "2022-07-27T07:51:30.584Z",
      "updatedAt": "2022-07-27T07:51:30.584Z"
    }
  ]
}