workflows/todo on requests.json
{
  "id": 5,
  "name": "todo on requests",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "44032e9b-be82-4503-a4a4-9919e6b2e957"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "base_url",
              "value": "https://graph.microsoft.com/v1.0"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "name": "set global params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "id": "55a6e33d-e921-4dc2-9d47-72a7d68546f6"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftToDoOAuth2Api",
        "url": "={{$node[\"set global params\"].json[\"base_url\"]}}/me/todo/lists",
        "options": {}
      },
      "name": "get lists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        560,
        300
      ],
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "10",
          "name": "Microsoft To Do iwsat6707"
        }
      },
      "id": "8e189297-870d-4468-b49d-5c99161c7761"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftToDoOAuth2Api",
        "url": "={{$item(0).$node[\"set global params\"].json[\"base_url\"]}}/me/todo/lists/{{$json[\"id\"]}}/tasks",
        "options": {
          "followRedirect": false
        }
      },
      "name": "get tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        860,
        360
      ],
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "10",
          "name": "Microsoft To Do iwsat6707"
        }
      },
      "id": "5bbb3dc2-90b6-4abf-ac57-766e565a5dbb"
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.value"
      },
      "name": "extract list",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "1253ada5-de3f-45e8-88cb-473465b2bf0b"
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {}
      },
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ],
      "id": "645d2d91-664c-4ab6-adf3-e4c3c45733a3"
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "outer"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1020,
        300
      ],
      "id": "5fdb9298-7f9c-471b-a6b5-5fe4d5955001"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1240,
        520
      ],
      "id": "6b63d4b4-fb21-4d3f-9fdf-7bdafedcb78d"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "set global params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set global params": {
      "main": [
        [
          {
            "node": "get lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get lists": {
      "main": [
        [
          {
            "node": "extract list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract list": {
      "main": [
        [
          {
            "node": "get tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          },
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2022-08-30T09:04:38.520Z",
  "updatedAt": "2022-08-30T15:29:36.828Z",
  "settings": {},
  "staticData": null,
  "pinData": {},
  "tags": [
    {
      "id": "4",
      "name": "microsoft todo",
      "createdAt": "2022-08-29T13:34:00.489Z",
      "updatedAt": "2022-08-29T13:34:00.489Z"
    }
  ]
}